@page "/"
@using UI.Models
@inherits IndexBase
<table Id="ChessBoard">
  @for (int i = 0; i < 8; i++)
  {
    <tr>
      @for (int j = 0; j < 8; j++)
      {
        int row = MaxRowNumber - i;
        int column = j;
        <td>
          <div class="@DropCss" draggable="true" ondragover="event.preventDefault();"
               @ondragleave="@(()=>HandleDragLeave(row, column))"
               @ondragenter="@(()=>HandleDragEnter(row, column))" @ondragstart="@(() => HandleDragStart(row, column))" @ondrop="() => HandleDrop(row, column)">@((MarkupString) UiChessBoard[row, column])</div>
        </td>
      }
    </tr>
  }
</table>

<button class="btn btn-success" @onclick="MakeComputerMove">Start</button>
<span>Total Time Taken: @TotalTimeTaken</span>

@if (ProjectedMoves != null)
{
  foreach (string move in ProjectedMoves)
  {
    <div>@move</div>
  }
}